<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Flashcard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="app">
        <h1>Add New Flashcard</h1>
        <form action="/api/flashcards/add" method="POST" id="add-flashcard-form">
            <div class="form-group">
                <label for="front"></label> 
                <textarea name="front" class="input-large" required placeholder="Enter the front text of the card"></textarea>
                <br>
                <label for="back"></label>
                <textarea class="input-large" name="back" required placeholder="Enter the back text of the card"></textarea>
            </div>
    
            <div id="navigation">
                <button type="submit" class="button">Add Flashcard</button>
                <a href="/" class="button">Back to Home</a>
            </div>
        </form>        
    </div>
    <%-include('partials/footer')%>
</body>
</html>