<%- include('partials/header')%>
<body>
    <div id="app">
        <header>
            <h1>Welcome to Flashcard App</h1>
        </header>
        <div id="home-buttons">
            <a href="/api/flashcards" class="button">Add a Card</a>
            <a href="/api/flashcards/allFlashcards" class="button">All Flashcards</a>
        </div>
    </div>
    <%-include('partials/footer')%>
</body>
</html>