<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Edit Flashcard</title>
</head>
<body>
    <div id="app">
        <h1>Edit Flashcard</h1>
        <div class="form-container">
            <form action="/api/flashcards/update/<%= card.id %>" method="POST">
                <label for="front">Front:</label>
                <input type="text" id="front" name="front" value="<%= card.front %>" required>
                <br>
                <label for="back">Back:</label>
                <input type="text" id="back" name="back" value="<%= card.back %>" required>
                <br>
                <button type="submit">Update</button>
                <a href="/api/flashcards/allFlashcards" class="button">Cancel</a>
            </form>
            
        </div>
    </div>
    <%-include('partials/footer')%>
</body>
</html>